#app {
  margin: 0 auto;
  border: 2px solid #BDBDBD;
  border-radius: 15px;
  width: 1130px;
  height: 656px;
}

.breadcrumb-container {
  display: flex;
  justify-content: space-between;
  padding: 14px 25px;
  min-height: 52px;
  border-bottom: 1px solid #999;
  font-size: 16px;
  box-sizing: border-box;
}

.breadcrumb-container .button-back {
  background: none;
  border: none;
  width: 24px;
  height: 24px;
  background-image: url(../assets/images/icon_arrow-left.png);
  background-size: 24px;
}

.breadcrumbs span {
  font-weight: bold;
}

.breadcrumbs span + span:before {
  display: inline-block;
  content: '';
  width: 10px;
  height: 16px;
  background-image: url(../assets/images/icon_arrow.png);
  background-size: 10px;
  margin: 0 8px;
}

.finder {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 14px;
  grid-row-gap: 32px;
  list-style: none;
  margin: 0;
  padding: 34px 44px;
}

.finder li {
  overflow: hidden;
  border: 2px solid #BDBDBD;
  border-radius: 10px;
}

.finder .node {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 16px 20px;
}

.node img {
  width: 24px;
  height: 24px;
  margin-right: 13px;
}

.node strong {
  font-weight: normal;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.file-image {
  height: 197px;
}

.file-image img {
  object-fit: cover;
}

.file-image + .node {
  border-top: 2px solid #BDBDBD;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal .content {
  width: 50%;
  height: 50%;
}

.loading {
  background-color: rgba(0, 0, 0, 0.3);
}

.image-viewer {
  background-color: rgba(0, 0, 0, 0.75);
}
