.intro {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #9B51E0;
}

.intro img {
	width: 134px;
	height: 64px;
}