@import 'reset.css';

.util-ir{
    display: block;
    overflow: hidden;
    width:1px;
    height:1px;
    font-size: 1px;
    line-height:0;
    text-indent: -9999px;
}

.image-upload {
    position: absolute;
    top: 77px;
    left: 149px;
}

#image-upload-input {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#image-upload-input + label {
    display: block;
    width:185px;
    height:54px;
    text-align: center;
    line-height:54px;
    background-color: #2F80ED;
    border-radius: 10px;
    color: #FFF;
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

#carousel {
    display: flex;
    height:100vh;
    justify-content: center; /* 주 축의 방향에 따라 아이템을 정렬 */
    align-items: center; /* 주 축을 교차하는 교차축을 따라 아이템을 정렬 */
}

.carousel-cont {
    /* width: 1500px; */
    /* display: flex; */
    /* justify-content: center; 주 축의 방향에 따라 아이템을 정렬 */
    perspective: 1000px; /* 원근감 1000px 만큼의 깊이 */
}

.carousel-list {
    width: 348px;
    height: 348px;
    position: relative;
    transform-style: preserve-3d; /* perspective 를 부모로 부터 받아 자식요소에도 적용 */
}

.carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    -webkit-box-reflect: below 35px linear-gradient(transparent 45%, rgba(255, 255, 255, 0.25)); 
    /* ie, 파폭 적용 불가. 컨텐츠의 반사 이미지를 표현. above below left right. linear-gradient : 투명마스크 위에서 아래로 점진적 전환. 투명화 지점, 투명화 농도 */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); /* 세번째 값은 블러 처리만 */
    transition: all .5s;
}

/* JS 적용 전 스타일 */
/* .carousel-item:first-child{
    transform: rotateY(0deg) translateZ(250px);
}

.carousel-item:nth-child(2){
    transform: rotateY(120deg) translateZ(250px) rotateY(-120deg);
}

.carousel-item:nth-child(3){
    transform: rotateY(240deg) translateZ(250px) rotateY(-240deg);
} */


.carousel-item > img {
    display: block;
    width: 100%;
    height: 100%;
    filter: brightness(70%); /* 흐림 효과나 색상 변형 등 그래픽 효과를 요소에 적용. brightness : 이미지를 밝거나 어둡게 표시 */
}
/* filter를 사용하지 않는 경우 */
/* .carousel-item::before{
    position:absolute;
    display: block;
    content:'';
    width:100%;
    height:100%;
    background:black;
    opacity: 0.3;
    z-index: 10;
}

.carousel-item.now::before{
    display: none;
} */

.now {
    transform: rotateY(0deg) translateZ(250px);
}

.now > img {
    filter: brightness(100%);
}

.last {
    transform: rotateY(240deg) translateZ(250px) rotateY(-240deg);
}

.prev-btn, .next-btn {
    position: absolute;
    width: 140px;
    height: 62px;
    top: 50%;
    margin-top:-31px;
    background: #FFF;
    border: 3px solid #828282;
    border-radius: 36px;
    color: #828282;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    z-index: 1;
}

.prev-btn:hover, .next-btn:hover {
    background: #828282;
    color: #FFF;
}

.prev-btn {
    left: 149px;
}

.next-btn {
    right: 149px;
}