@import 'reset.css';

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf") format('opentype');
}

.util_ir{
    display: block;
    overflow: hidden;
    width:1px;
    height:1px;
    font-size: 1px;
    line-height:0;
    text-indent: -9999px;
}

body {
    font-family: 'Noto Sans KR';
    font-weight: 400;
}

.image-upload {
    position: fixed;
    top: 70px;
    left: 100px;
    z-index: 10;
}

#image-upload__input + label {
    display: block;
    padding: 15px 30px;
    background-color: #2F80ED;
    border-radius: 10px;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

#image-upload__input {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#carousel {
    display: flex;
    height:100vh;
    justify-content: center;
    align-items: center;
}

.carousel__wrap {
    width: 1500px;
    display: flex;
    justify-content: center;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.carousel__list {
    width: 250px;
    height: 250px;
    position: relative;
}

.carousel__item {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    -webkit-box-reflect: below 20px linear-gradient(transparent 45%, rgba(255, 255, 255, 0.25));
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    background: #FFF;
    transition: all .5s;
}

.carousel__item > img {
    display: block;
    width: 100%;
    height: 100%;
    filter: brightness(70%);
}

.now {
    transform: rotateY(0deg) translateZ(250px);
}

.now > img {
    filter: brightness(100%);
}

.prev-btn, .next-btn {
    position: absolute;
    width: 140px;
    height: 62px;
    top: 50%;
    background: #FFF;
    border: 3px solid #828282;
    border-radius: 36px;
    color: #828282;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    z-index: 1;
}

.prev-btn:hover, .next-btn:hover {
    background: #828282;
    color: #FFF;
}

.prev-btn {
    left: 0;
    transform: translateY(-50%) translateZ(250px) translateX(180px);
}

.next-btn {
    right: 0;
    transform: translateY(-50%) translateZ(250px) translateX(-180px);
}