@import 'reset.css';
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap");


body{
    background-color: #6FCF97;
    font-family: "Noto Sans KR";
}
header{
    margin-bottom: 24px;
}
.wrapper{
    width: 320px;
    margin: 104px auto; /* 104px auto 0 */
    color: #ffffff;
}
.counter{
    width: 100%; /* 필요 없습니다 */
    margin: 6px 0px 0px 5px;
    display: flex; /* 필요 없습니다 */
    align-items: flex-end; /* 필요 없습니다 */
}
.counter>b{
    margin-right: 18px;
    font-style: normal; /* 필요없습니다. */
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    width: 44px;
}
.counter>span{
    font-style: normal; /* 필요없습니다. */
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    
}
.puzzle{
    display: flex;
    flex-wrap: wrap;
}
.peace_container{
    width: 70px;
    height: 75px;
    margin: 5px 5px 0px 5px;
    border-radius: 18px;
    background-color: #20A156;
    cursor: default;
}
.peace{
    width: 70px; /* 필요없습니다. */
    height: 70px;
    background-color: #ffffff;
    color: #20A156;
    border-radius: 18px;
    font-style: normal; /* 필요없습니다. */
    font-weight: 900;
    font-size: 30px;
    line-height: 43px; /* 필요없습니다. */
    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 500ms;
}
.void{
    width: 70px;
    height: 70px;
}
.button{
    width: 306px;
    height: 46px;
    border-radius: 10px;
    font-family: Noto Sans KR;
    font-style: normal; /* 필요없습니다. */
    font-weight: 900;
    font-size: 16px;
    line-height: 23px;/* 필요없습니다. */
    border: 2px solid #FFFFFF;
    margin: 0 5px;

    display: flex;/* 필요없습니다. */
    align-items: center;/* 필요없습니다. */
    justify-content: center;/* 필요없습니다. */
}
.start_button{
    margin-top: 50px;
    color: #6FCF97;
    background-color: #ffffff;
}
.reset_button{
    color: #ffffff;
    margin-top: 14px;
}

.answer{
    display: none;
    position: absolute;
    background-color: #539e72;
    top: 200px;
    border-radius: 18px;
    width: 320px;
}

.answer_con{
    text-align: center;
    margin: 10px 0;
    font-size: 16px;
    line-height: 23px;
    font-style: normal; /* 필요없습니다. */
    font-weight: 900;
}

.answer_button {
    margin-top: 10px;
    cursor: pointer; /* 필요없습니다. */
}